
.foodList
{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    justify-content: space-around;
    padding: 6% 6%;
}

.foodList > mat-card {
    height: 420px;
    transition: 0.4s all ease; 
    flex: 1 1 420px;
    margin: 13px;
    text-align: center;
    border-radius: 0%;
    padding-right: 18px;
}

mat-card img{
    height: 250px;
    width: 100%;
   padding-top: 12px;
}

.link 
{
    outline: none;
    text-decoration: none;
    color:rgb(230, 30, 30);
    font-weight: 500;
    font-size: 22px;
    padding-bottom: 20px;
}

.link:hover
{
    color: rgb(56, 52, 52);
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
  }

  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding:20px 18px;
    font-size: 16px;
    text-align: center;
  }
